{{ partial "header.html" . }}


<div class="container single">
    {{ partial "navbar.html" . }}

    <article>
        <h1>{{ .Title }}</h1>
        <div class="time">{{ .Date.Format "Monday, January 2, 2006" }} · {{ .ReadingTime }} min read</div>

        {{if ge (len .TableOfContents) 35}}
        <aside class="toc">
            <h4>Table of Contents</h4>
            {{ .TableOfContents }}
        </aside>
        {{end}}

        {{ .Content }}
    </article>
</div>

{{ partial "footer.html" . }}
