title: Docker Containers on the Desktop
description: How to run docker containers on your desktop.
author: Jessica Frazelle
date: 21-02-2015

{% extends "post.html" %}

{% block body %}
{% load markup %}
{% filter markdown %}

Hello!

So some of you may know me and the fact I love and run Debian Jessie on my computers/server. Not only that, I run almost all my applications in Docker containers. **"What?!?!"**, you say. Let me show you.

The following covers a few of my favorite applications I run in containers.

### TUIs (Text User Interface, pronounced *too-eee*)

Let's start with some easy text-based applications:

#### 1. Irssi

[Dockerfile](https://github.com/jfrazelle/irssi/blob/master/Dockerfile)

Best IRC client.

<pre class="prettyprint">
$ docker run -it \
    -v /etc/localtime:/etc/localtime \
    -v $HOME/.irssi:/home/user/.irssi \ # mounts irssi config in container
    --read-only \ # cool new feature in 1.5
    --name irssi \
    irssi
</pre>

![irssi]({{ STATIC_URL }}/img/irssi.png)

#### 2. Mutt

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/mutt/Dockerfile)

The text based email client that rules!

<pre class="prettyprint">
$ docker run -it \
    -v /etc/localtime:/etc/localtime \
    -e GMAIL -e GMAIL_NAME \ # pass env variables to config
    -e GMAIL_PASS -e GMAIL_FROM \
    -v $HOME/.gnupg:/home/user/.gnupg \ # so you can encrypt ;)
    --name mutt \
    jess/mutt
</pre>

![mutt]({{ STATIC_URL }}/img/mutt.png)

#### 3. Rainbowstream

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/rainbowstream/Dockerfile)

Awesome text based twitter client.

<pre class="prettyprint">
$ docker run -it \
    -v /etc/localtime:/etc/localtime \
    -v $HOME/.rainbow_oauth:/root/.rainbow_oauth \ # mount config files
    -v $HOME/.rainbow_config.json:/root/.rainbow_config.json \
    --name rainbowstream \
    jess/rainbowstream
</pre>

![rainbowstream]({{ STATIC_URL }}/img/rainbowstream.png)

#### 4. Lynx

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/lynx/Dockerfile)

The browser everyone loves (to hate). *but secretly I love*

<pre class="prettyprint">
$ docker run -it \
    --name lynx \
    jess/lynx
</pre>

![lynx]({{ STATIC_URL }}/img/lynx2.png)


*Yes I know my blog looks GREAT in lynx*

Okay, those text based apps are fun and all but how about we spice things up a bit.

### GUIs

None of the images below use `X11-Forwarding` with ssh. Because why should you ever have to install `ssh` into a container? EWWW UNNECESSARY BLOAT!

The images work by mounting the `X11` socket into the container! Yippeeeee!

The commands listed below are run on a linux machine. But Mac users, I have a special surprise for you. You can also do fun hacks with X11. Details are described [here](https://github.com/docker/docker/issues/8710).

Note for each of these, if I need sound I add `-v /dev/snd:/dev/snd --privileged`, BUT if my patch gets merged to fix the bug with `--device /dev/snd` for 1.6, you will be able to replace that line with the more preferred `--device /dev/snd` which automatically adds the correct permissions to the container.

#### 5. Chrome

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/chrome/Dockerfile)

Pretty sure everyone knows what chrome is, but my image comes with flash and the google talk plugin so you can do hangouts.

<pre class="prettyprint">
$ docker run -it \
    --net host \ # may as well YOLO
    -v /tmp/.X11-unix:/tmp/.X11-unix \ # mount the X11 socket
    -e DISPLAY=unix$DISPLAY \ # pass the display
    -v $HOME/Downloads:/root/Downloads \ # optional, but nice
    -v $HOME/.config/google-chrome/:/data \ # if you want to save state
    -v /dev/snd:/dev/snd --privileged \ # so we have sound
    --name chrome \
    jess/chrome
</pre>

![chrome]({{ STATIC_URL }}/img/chrome.png)

#### 6. Spotify

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/spotify/Dockerfile)

All the 90s hits you ever wanted and more.

<pre class="prettyprint">
$ docker run -it \
    -v /tmp/.X11-unix:/tmp/.X11-unix \ # mount the X11 socket
    -e DISPLAY=unix$DISPLAY \ # pass the display
    -v /dev/snd:/dev/snd --privileged \ # sound
    --name spotify \
    jess/spotify
</pre>

![spotify]({{ STATIC_URL }}/img/spotify.png)

#### 7. Gparted

[Dockerfile](https://github.com/docker/docker/blob/master/contrib/desktop-integration/gparted/Dockerfile)

Partition your device in a container.

MIND BLOWN.

<pre class="prettyprint">
$ docker run -it \
    -v /tmp/.X11-unix:/tmp/.X11-unix \ # mount the X11 socket
    -e DISPLAY=unix$DISPLAY \ # pass the display
    --device /dev/sda:/dev/sda \ # mount the device to partition
    --name gparted \
    jess/gparted
</pre>

![gparted]({{ STATIC_URL }}/img/gparted.png)

#### 8. Skype

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/skype/Dockerfile)

The other video conferencer.

<pre class="prettyprint">
$ docker run -it \
    -v /tmp/.X11-unix:/tmp/.X11-unix \ # mount the X11 socket
    -e DISPLAY=unix$DISPLAY \ # pass the display
    -v /dev/snd:/dev/snd --privileged \ # sound
    --name skype \
    jess/skype
</pre>

![skype]({{ STATIC_URL }}/img/skype1.png)

![skype2]({{ STATIC_URL }}/img/skype2.png)

#### 9. Tor Browser

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/tor-browser/Dockerfile)

Because Tor, duh!

<pre class="prettyprint">
$ docker run -it \
    -v /tmp/.X11-unix:/tmp/.X11-unix \ # mount the X11 socket
    -e DISPLAY=unix$DISPLAY \ # pass the display
    -v /dev/snd:/dev/snd --privileged \ # sound
    --name tor-browser \
    jess/tor-browser
</pre>

![tor-browser]({{ STATIC_URL }}/img/tor-browser.png)

#### 10. Cathode

[Dockerfile](https://github.com/jfrazelle/dockerfiles/blob/master/cathode/Dockerfile)

That super old school terminal.

<pre class="prettyprint">
$ docker run -it \
    -v /tmp/.X11-unix:/tmp/.X11-unix \ # mount the X11 socket
    -e DISPLAY=unix$DISPLAY \ # pass the display
    --name cathode \
    jess/1995
</pre>

![cathode]({{ STATIC_URL }}/img/cathode.png)

So that's enough examples for now. But of course I have more. All my Dockerfiles live here: [github.com/jfrazelle/dockerfiles](https://github.com/jfrazelle/dockerfiles) and all my docker images are on the hub: [hub.docker.com/u/jess](https://hub.docker.com/u/jess/).

Happy Dockerizing!!!

{% endfilter %}

{% endblock %}
