<!-- twitter card meta tags -->
<meta property="twitter:account_id" content="285428413" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@jessfraz">
<meta name="twitter:creator" content="@jessfraz">
<meta name="twitter:title" content="{{ .Site.Title }}: {{ if eq .Section "post" }}{{ .Title }}{{ else }}Home{{ end }}">
<meta name="twitter:description" content="{{ if eq .Section "post" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="https://blog.jessfraz.com/img/share.png">
<meta name="twitter:domain" content="blog.jessfraz.com">

<!-- facebook open graph tags -->
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:Section" content="website"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:image" content="/img/share.png"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="fb:admins" content="1018260045"/>
<meta property="og:description" content="{{ if eq .Section "post" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>

<!-- mastodon verification -->
<link rel="me" href="https://mastodon.social/@jessfraz">
