<header>
	<nav>
		<ul class="main">
			<li><a href="https://blog.jessfraz.com">{{ .Site.Title }}</a></li>
		</ul>
		<ul class="social">
			{{ if .RSSLink }}
			<li>
				<a href="{{ .RSSLink }}" title="RSS Feed" class="fa fa-rss" target="_blank"></a>
			</li>
			{{ end }}
			<li>
				<a class="fa fa-linkedin" title="LinkedIn" href="https://www.linkedin.com/in/jessie-frazelle/" target="_blank"></a>
			</li>
			<li>
				<a class="fa fa-github" title="GitHub" href="https://github.com/jessfraz" target="_blank"></a>
			</li>
			<li>
				<a class="fa fa-twitter" title="Twitter" href="https://twitter.com/jessfraz" target="_blank"></a>
			</li>
		</ul>
	</nav>
</header>
