<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">

		<title>Jessie Frazelle's Blog: {{ title }}</title>

		<!-- twitter card meta tags -->
		<meta property="twitter:account_id" content="285428413" />
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@frazelledazzell">
		<meta name="twitter:creator" content="@frazelledazzell">
        <meta name="twitter:title" content="Jessie Frazelle's Blog: {{ title }}">
		<meta name="twitter:description" content="{{ description }}">
		<meta name="twitter:image:src" content="{{ STATIC_URL }}/img/share.png">
		<meta name="twitter:image:width" content="500">
		<meta name="twitter:image:height" content="500">
		<meta name="twitter:domain" content="blog.jessfraz.com">

        <!-- facebook open graph tags -->
	    <meta property="og:title" content="{{ title }}"/>
	    <meta property="og:type" content="website"/>
	    <meta property="og:url" content="https://blog.jessfraz.com/{{path}}"/>
	    <meta property="og:image" content="{{ STATIC_URL }}/img/share.png"/>
	    <meta property="og:site_name" content="Jessie Frazelle's Blog"/>
	    <meta property="fb:admins" content="1018260045"/>
	    <meta property="og:description" content="{{ description }}"/>

        <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">

		<link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css" />
		<script src="{{ STATIC_URL }}/js/lib/modernizr-2.6.2.min.js"></script>
	</head>
	<body onload="prettyPrint()">
		<header>
			<nav>
				<ul class="main">
					<li><a href="https://blog.jessfraz.com">Jessie Frazelle's Blog</a></li>
				</ul>
				<ul class="social">
					<li><a class="ss-icon ss-twitter ss-social" href="https://twitter.com/frazelledazzell" target="_blank"></a></li>
					<li><a class="ss-icon ss-instagram ss-social" href="https://instagram.com/jessfrazz" target="_blank"></a></li>
					<li><a class="ss-icon ss-github ss-social" href="https://github.com/jfrazelle"  target="_blank"></a></li>
				</ul>
			</nav>
		</header>

	{% block content %}
	{% endblock %}

	<script src="{{ STATIC_URL }}/js/prettify/prettify.js"></script>
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29404280-12', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>
